
@model Clientes
<main role="main">
    <br />
    <br />
    <section class="container">
        <aside class="col-sm-4 offset-sm-4">
            <h3 class="subtitle-doc text-center">
                Login
            </h3>
            <div id="code_login_1">
                <div class="card">
                    <article class="card-body">
                        @if (ViewData["MSG_ERRO"] != null)
                        {
                            <p class="alert alert-danger">@Html.Raw(@ViewData["MSG_ERRO"])</p>
                        }
                        <h4 class="card-title mb-4 mt-1">OLA,</h4>
                        
                        <p class="card-title mb-4 mt-1 text-muted">Pra Continuar informe os seus dados. </p>
                        <form method="post">
                            <div class="form-group">

                                <label asp-for="email">E-mail</label>
                                <input asp-for="email" class="form-control" placeholder="Email" type="email">
                                <span class="text-danger" asp-validation-for="email">  </span>

                            </div>
                            <div class="form-group">
                                <a class="float-right" href="#">Esqueceu a Senha?</a>
                                <label asp-for="senha">Senha</label>
                                <input asp-for="senha" class="form-control" placeholder="******" type="password">
                                <span class="text-danger" asp-validation-for="senha">  </span>

                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn btn-success btn-block"> Entrar </button>
                            </div>
                        </form>
                        <div class="form-group text-center">
                            <a asp-action="CadastroCliente" asp-controller="Home" asp-route-returnUrl="@Context.Request.Query["returnUrl"]" class="btn btn-block btn-primary">Fazer Cadastro</a>

                        </div>
                    </article>
                </div>
            </div>
        </aside>
    </section>







    <hr class="featurette-divider">



</main>