@model Produtos
<form asp-action="Cadastrar" method="post">
    <div class="card">
        <header class="card-header">
            <h4 class="card-title mt-2">Cadastrar Categoria</h4>
        </header>


        <div class="row">
            <div class="col-md-6">
                <div class="col form-group">
                    <label asp-for="nome"></label>
                    <input type="text" class="form-control" asp-for="nome" placeholder="Nome">
                    <span class="text-danger" asp-validation-for="nome">  </span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col form-group">
                    <label asp-for="categoria_id">Categoria</label>
                    <select type="text" class="form-control" asp-for="categoria_id" asp-items="ViewBag.Categorias"><option value="">Selecione</option></select>
                    <span class="text-danger" asp-validation-for="categoria_id">  </span>
                </div>
            </div>
        </div>

        <div class="col form-group">

            <label asp-for="descricao"></label>
            <textarea type="text" class="form-control" asp-for="descricao"> </textarea>
            <span class="text-danger" asp-validation-for="descricao">  </span>

        </div>
        <div class="row">

            <div class="col-md-6 ">
                <div class="col form-group">

                    <label asp-for="valor">Valor</label>
                    <div class="input-group mb-3">

                        <input type="text" class="form-control dinheiro" asp-for="valor">

                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">R$</span>
                        </div>
                    </div>
                    <span class="text-danger" asp-validation-for="valor">  </span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col form-group">
                    <label asp-for="quantidade">Quantidade</label>
                    <div class="input-group mb-3">

                        <input type="number" class="form-control" asp-for="quantidade">

                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">UN</span>
                        </div>
                    </div>
                    <span class="text-danger" asp-validation-for="quantidade">  </span>
                </div>
            </div>
        </div>
        <div class="col form-group">
            <h5>Informações Adicionais</h5>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="col form-group">
                    <label asp-for="peso">Peso</label>
                    <div class="input-group mb-3">

                        <input type="text" class="form-control dinheiro" asp-for="peso">

                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">KG</span>
                        </div>
                    </div>
                    <span class="text-danger" asp-validation-for="peso">  </span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="col form-group">
                    <label asp-for="altura">Altura</label>
                    <div class="input-group mb-3">

                        <input type="text" class="form-control dinheiro" asp-for="altura" />

                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">CM</span>
                        </div>
                    </div>
                    <span class="text-danger" asp-validation-for="altura">  </span>
                </div>
            </div>
            <div class="col-md-3">

                <div class="col form-group">
                    <label asp-for="largura">Alrgura</label>
                    <div class="input-group mb-3">

                        <input type="text" class="form-control dinheiro" asp-for="largura" />

                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">CM</span>
                        </div>
                    </div>
                    <span class="text-danger" asp-validation-for="largura">  </span>
                </div>
            </div>
            <div class="col-md-3">

                <div class="col form-group">
                    <label asp-for="comprimento">Comprimentro</label>
                    <div class="input-group mb-3">

                        <input type="text" class="form-control dinheiro" asp-for="comprimento" />

                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">CM</span>
                        </div>
                    </div>
                    <span class="text-danger" asp-validation-for="comprimento">  </span>
                </div>
            </div>
        </div>

        <div class="col form-group">
            <h5>
                Imagens:
            </h5>
        </div>

        @{
            List<Imagens> imagens = new List<Imagens>();
            if (Model != null)
            {
                imagens = Model.Imagens.ToList();
            }

        }
        <div class="row imagens ml-1">

            @for (int i = 0; i < 6; i++)
            {
                if (imagens.ElementAtOrDefault(i) != null)
                {
                    <div class="col-md-2">
                        <input type="file" class="input-file" />
                        <div class="container-img-thumbmail">
                            <span class="helper"></span><img src="@imagens.ElementAtOrDefault(i).caminho" width="160" height="100" class="img-thumbmail img-updload" />
                        </div>
                        <div class="btn btn-danger btn-imagem-excluir ">Excluir</div>
                        <input type="text" name="imagem" value="@imagens.ElementAtOrDefault(i).caminho" />

                    </div>
                }
                else
                {
                    <div class="col-md-2">
                        <input type="file" class="input-file" />
                        <div class="container-img-thumbmail">
                            <span class="helper"></span><img src="~/img/image_padrao.png" width="160" height="100" class="img-thumbmail img-updload" />
                        </div>
                        <div class="btn btn-danger btn-imagem-excluir btn-imagem-ocutar">Excluir</div>
                        <input type="text" name="imagem" />

                    </div>
                }

            }


        </div>



        <div class="col form-group mt-3">
            <button type="submit" class="btn btn-primary"> Salvar </button>
            <a asp-action="Index" class="btn btn-warning"> Voltar </a>

        </div>
    </div>

</form>